{% extends 'base.html' %}
{% block title %}Recipes Homepage{% endblock %}

{% block body %}
  <h1>Welcome!</h1>

  <h2>Navigation</h2>
  <ul>
    <li><a href="/recipes">View all recipes</a></li>
    <li><a href="/signup">Create an Account</a></li>
  </ul>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <label for="login-name">Name</label>
    <input type="text" name="login-name" id="login-name">

    <label for="login-email">Email</label>
    <input type="text" name="login-email" id="login-email">

    <label for="login-pass">Password</label>
    <input type="password" name="login-pass" id="login-pass">

    <button type="submit">Log in</button>
  </form>
{% endblock %}
