{% extends 'base.html' %}
{% block title %}Main page{% endblock %}

{% block body %}
  <h1>Nice to meat you!</h1>

    <ul>
     <li><a href="/recipes">View all recipes</a></li>
     <li><a href="/profile/<user_id>">View profile</a></li>
    </ul>

  <form id="search">
    <input type="search" id="query" name="q" placeholder="Search by ingredients">
    <input type="submit" value="search">
  </form>
  <div id="search-results"></div>
  <script>
    let form = document.querySelector('#search').addEventListener('submit', (evt) => {
      evt.preventDefault();
      let ingredients = document.querySelector('#query').value
      const queryString = new URLSearchParams({ ingredients : ingredients }).toString();
      const url = `/rec-by-ingre?${queryString}`;

      fetch(url)
      .then((response) => response.text())
      .then((status) => {
        let results = document.querySelector("#search-results")
      results.innerHTML = status
      });
    });
  </script>

{% endblock %}
