{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Main page{% endblock %}

{% block body %}
<h1> Welcome, {{ session['name'] }}.</h1>
<p> Lettuce turnip the beet!</p>

{% endblock %}

<!-- API search by ingredients -->
<!-- <form id="search">
  <input type="search" id="query" name="q" placeholder="Search by ingredients">
  <input type="submit" value="search">
  
  <script src="/static/js/search.js"></script>
</form>

<div>  
  <ul id="search-results"></ul>
</div>

<script src="/static/js/favorite.js"></script> -->


<!-- <h1>Nice to meat you!</h1>

  <ul>
    <li><a href="/recipes">View all recipes</a></li>
    <li><a href="/profile">View profile</a></li>
    </ul>
