{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block body %}
    <h1>{{ recipe.title }}</h1>
    
    <form id="review-form">
        <input type="text" name="review" id="reviews" recipeid="{{recipe.id}}" placeholder="Please leave your reviews/comments here!">
        <input type="submit" id="submit-reviews" value="Submit">
        <label for="submit" id="my-label"></label>
        
        <script src="/static/js/reviews.js"></script>
    </form>


{% if recipe.image_url %}
    <p id="image">
        <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
    </p>
{% endif %}

<p id="summary">
    Summary: <br>
    {{ recipe.summary|safe }}
</p>

<p id="ingredients">
    Ingredients: <br>
    {{ recipe.ingredients|safe }}
</p>

<p id="instructions">
    Instructions: <br>
    {{ recipe.instructions|safe }}
</p>


{% endblock %}
