{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block body %}
<h1>{{ recipe.title }}</h1>

{% if recipe.image_url %}
    <p id="image">
        <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
    </p>
{% endif %}

<p id="summary">
    Summary: <br>
    {{ recipe.summary|safe }}
</p>

<p id="ingredients">
    Ingredients: <br>
    {{ recipe.ingredients|safe }}
</p>

<p id="instructions">
    Instructions: <br>
    {{ recipe.instructions|safe }}
</p>

<form action="/review/{{ recipe.id }}" method="POST">
    <input type="text" name="review" id="reviews" placeholder="Please leave your reviews/comments here!">
    <button type="submit" id="submit-reviews">Submit</button>
</form>


{% endblock %}
