{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block body %}
<h1>{{ recipe.title }}</h1>

{% if recipe.image_url %}
    <p id="image">
        <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
    </p>
{% endif %}

<p id="summary">
    Summary: <br>
    {{ recipe.summary|safe }}
</p>

<p id="ingredients">
    Ingredients: <br>
    {{ recipe.ingredients|safe }}
</p>

<p id="instructions">
    Instructions: <br>
    {{ recipe.instructions|safe }}
</p>


{% endblock %}
