{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="heading-1 d-flex justify-content-center">
  <h1> Your reviews</h1>  
</div>

<div class="container-fluid mt-4">
<div class="user-reviews d-flex justify-content-center">
  <div class="accordion w-75" id="accordionExample">
    {% for review in recipe_reviews %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{review[0]}}">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{review[0]}}" 
                  aria-expanded="false" aria-controls="collapse{{review[0]}}">
                  <p>{{ review[1] }}</p>
                </button>
        </h2>
        <div id="collapse{{review[0]}}" class="accordion-collapse collapse" aria-labelledby="heading{{review[0]}}" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{ review[2] }}</strong>
            <p>Review added on: {{ review[3] }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> 
</div>

<style>
  body {
    background-image: url("/static/img/review-bg.jpg");
    background-color: rgb(255, 255, 255);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
</style>
{% endblock %}